:root{
  --theme-background-color: #E1DDDB ;
  --theme-nav-color:  #EF6C33;
  --theme-main-color: #354649;
  --theme-nav-background-color: #0C4A60;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
body {
  background: var(--yellow-theme-background-color);
  height: 100%;
}
#root {
  height: 100%
}